<!DOCTYPE html>
<head>
    <title>Lab 4</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
    {{{body}}}
</div>
<script src="js/page.js"></script>
</body>
</html>