<div class="contact"
     data-key="{{id}}"
{{#if @root.buttonsEnabled}}
     onclick="window.location.href = '/update?id={{id}}'"
{{/if}}>

<span>
    {{name}}
</span>

<span>
    {{phone}}
</span>

</div>
